<!DOCTYPE html>
<html>

<head>
  <title>Departments</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <!-- <a class="navbar-brand" href="#">Navbar</a> -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/oldest-employee">Oldest Employee</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/number-of-employee">Number of Employee</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/managers">Managers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/highest-paid">Highest Paid</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/avg-duration">Avg Duration</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</body>

</html>
<div class="container">